/* Add these styles to your CSS file or style block in your component */
@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/dark/main.css";
@import "@esri/calcite-components/dist/calcite/calcite.css";
  .mapDiv {
    height: 93vh; /* Set the desired height */
    width: 100%;
    position:absolute
  }
  .toggleBtn{
    position: absolute;
  top: 43vh;
  left: 1vh;
  background-color:#444; /* Set the background color to match the theme */
  color: #fff; /* Set text color to white or a color that contrasts well */
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .toggleBtn:hover {
    background-color: #005b91; /* Darker shade for hover effect */
  }
  .graphDiv{
    display: flex;
    position :relative;
    background-color: #333;
    border-radius: 25px;
    width: 55vh;
    color: aliceblue;
    opacity: 1;
    
    left: 1vh;
    transition: opacity 0.9s ease-in-out;
  }
 .graphDiv, accordion{
  flex-direction: column-reverse;
  display: flex;
  /* To make accordion items reverse direction */
  bottom: 10px;
  border-radius: 25px;
  position: fixed;

 }
 
 .accordion-header, .accordian-item {
  border-radius: 50px!important;
  border-color: none!important;
  background-color: #333 !important;
 }
 .accordian-button-collapsed,.accordian-button{
  border-radius: 50px!important;
  border-color: none!important;
  background-color: #333 !important;
 }

  .accordion-body{
    width: 100%;
    background-color: #333 !important;
    position: relative!important;
    
    
  }
  
  .accordion-button{
    background-color: #333 !important;
    border:none;
    color:#fff !important;
    border-radius: 0px!important;

  }
  .custom-expand-widget {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 999; /* Ensure it appears above the map */
  }
  
  .button-group-responsive {
    flex-direction: row;
    position: absolute;
    width: auto;
    display: flex;
    
  }

  .accordion-body{
    height:60vh;
  }

  
  .accordion-body.collapse {
    transition: height 0.35s ease-in-out !important;
  }
  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: dark;
    color: white;
    display: none;
  }
  .datepicker-section{
    
    top: 0;
    left: 0; 
    right: 0; 
    height: 30px;
    padding-top: 1vh;
    padding-left: 1vh;
  }
  
  .Date-ele{
    height: 35px;
    margin-left: 10px;
  }
  .btn-expand{
    background-color: #333!important;
  }
  